<div>
  <ion-slides [options]="slideOpts">
    <ion-slide class="flex flex-col-reverse">
      <div class="flex justify-center">
        <ion-button color="warning">Detalles</ion-button>
        <ion-button color="warning">Es mío</ion-button>
        <ion-button color="danger" routerLink="/reportar">
          <ion-icon icon="warning"></ion-icon>
        </ion-button>
      </div>
      <app-card [direccion]="ruta + '/assets/sombrilla.jpeg'"></app-card>
    </ion-slide>
    <ion-slide class="flex flex-col-reverse">
      <div class="flex justify-center">
        <ion-button color="warning">Detalles</ion-button>
        <ion-button color="warning">Es mío</ion-button>
        <ion-button color="danger" routerLink="/reportar">
          <ion-icon icon="warning"></ion-icon>
        </ion-button>
      </div>
      <app-card [direccion]="ruta + '/assets/cuaderno.jpeg'"></app-card>
    </ion-slide>
    <ion-slide class="flex flex-col-reverse">
      <div class="flex justify-center">
        <ion-button color="warning">Detalles</ion-button>
        <ion-button color="warning">Es mío</ion-button>
        <ion-button color="danger" routerLink="/reportar">
          <ion-icon icon="warning"></ion-icon>
        </ion-button>
      </div>
      <app-card [direccion]="ruta + '/assets/sombrilla 2.jpeg'"></app-card>
    </ion-slide>
  </ion-slides>
</div>
