<ion-header>
  <ion-toolbar color="dark">
    <ion-item color="white" class="text-black hover:bg-gray-200" button routerLink='..'>
      <ion-label>
        <ion-icon icon="arrow-undo-circle-outline" class="text-4xl text-orange-800"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="">
  <div class="m-4 bg-white p-5 rounded-md text-black">
    <div class="flex items-center">
      <ion-searchbar class="text-black" placeholder="Buscar una publicación"></ion-searchbar>
      <ion-button color="warning" class="mr-2">Buscar</ion-button>
    </div>
    <app-tarjetas *ngFor="let p of publicaciones"
    [titulo]="p.descObjetoC"
    [detalles]="p.descDetallada"
    [foto]="p.fotoObjeto"
    [status]="p.statusPublicacion"
    ></app-tarjetas>
  </div>
</ion-content>