<ion-item color="white" class="text-black hover:bg-gray-200 mb-2" button routerLink=''>
  <div class="flex flex-col md:flex-row w-full">
    <div class="p-2">
      <ion-img class="w-24" src="assets/sombrilla 2.jpeg"></ion-img>
    </div>
    <div class="flex flex-col">
      <ion-card-header>
        <ion-card-title class="text-black">Card Tittle</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus commodi voluptates excepturi fugiat debitis inventore a molestiae corporis neque impedit, perferendis soluta iusto autem nulla id, quisquam dolorem? Id, inventore.
        Voluptates similique sunt enim consequatur veritatis aliquam assumenda placeat. Voluptas rem, quis, quaerat amet in atque ad deserunt commodi neque, necessitatibus totam asperiores qui assumenda. Earum alias natus tempore at!
        Minus reprehenderit quisquam optio hic id numquam, pariatur debitis minima quo corrupti alias provident ratione nesciunt! Error voluptatem iusto, minima nisi reprehenderit non accusantium dicta ratione sequi rerum reiciendis tempora.
      </ion-card-content>
    </div>
    <div class="flex flex-col flex-1 items-end">
      <ion-label>Status: </ion-label>
      <ion-label>Publicación cerrada</ion-label>
    </div>
  </div>
</ion-item>
