<ion-item color="white" class="text-black hover:bg-gray-200 mb-2" button routerLink=''>
  <div class="flex flex-col md:flex-row w-full">
    <div class="p-2">
      <ion-img class="w-24" [src]="foto"></ion-img>
    </div>
    <div class="flex flex-col">
      <ion-card-header>
        <ion-card-title class="text-black">{{ titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ detalles }}
      </ion-card-content>
    </div>
    <div class="flex flex-col flex-1 items-end">
      <ion-label>Status: </ion-label>
      <ion-label>{{ status === 1 ? 'Activo' : 'Cerrado' }}</ion-label>
    </div>
  </div>
</ion-item>
