<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <div class="flex items-center">
      <ion-img src="../../assets/logo_transparente.png" class="w-20"></ion-img>
      <ion-title>
        Inicio
      </ion-title>
      <div class="mr-4 flex space-x-2 items-center">
        <div style="font-family: 'Orelega One', cursive;">{{ usuario?.nombre }}</div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-inicio></app-inicio>
</ion-content>
