
  <ion-header>
    <ion-toolbar color="dark">
      <div class="flex">
        <ion-item color="white" class="text-black hover:bg-gray-200" button routerLink='..'>
          <ion-label>
            <ion-icon icon="arrow-undo-circle-outline" class="text-4xl text-orange-800"></ion-icon>
          </ion-label>
        </ion-item>
        <ion-title class="text-center">Acerca de la aplicación</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <div class="flex justify-center">
      <div class="p-2 m-4 bg-white text-black rounded-lg border-2 shadow-md w-full">
        <h1 class="text-4xl font-bold text-center">Extravíos CUCEI</h1>
        <hr>
        <div class="p-2">
          Este proyecto fué inspirado en ayudar a los estudiantes sobre todo en la cuestión de recuperar sus pertenencias y fomentar la buenos valores con la comunidad univeristaria al devolver algún objeto.
          <br>
          <span class="text-xl font-bold">¿Quienes somos?</span>
          <br>
          Somos tres estudiantes de la carrera de informática, Jesús Marino, Manuel Martínez y Mario Duran. Decidimos unir nuestras aptitudes para hacer realidad este proyecto y de ser posible, dejar huella en nuestro centro universitario.
          Forjamos nuestra experiencia por medio de nuestro servicio social y trabajando como becarios, obteniendo una mentalidad más analítica y acorde a la necesidad que queremos solventar con ExtraviosCUCEI.
          Puedes seguirnos en Facebook en los nombres antes mencionados y/o enla página oficial "Extravíos CUCEI" para cualquier duda, sugerencia que se presente.
        </div>
      </div>
      <div class="fb-page" data-href="https://www.facebook.com/Extrav%C3%ADoscucei-113225374686985/?ref=pages_you_manage" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Extrav%C3%ADoscucei-113225374686985/?ref=pages_you_manage" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Extrav%C3%ADoscucei-113225374686985/?ref=pages_you_manage">Extravíoscucei</a></blockquote></div>
    </div>
  </ion-content>