
  <ion-header>
    <ion-toolbar color="dark">
      <div class="flex">
        <ion-item color="white" class="text-black hover:bg-gray-200" button routerLink='..'>
          <ion-label>
            <ion-icon icon="arrow-undo-circle-outline" class="text-4xl text-orange-800"></ion-icon>
          </ion-label>
        </ion-item>
        <ion-title class="text-center">Acerca de la aplicación</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <div class="flex justify-center">
      <div class="p-2 m-4 bg-white text-black rounded-lg border-2 shadow-md w-full">
        <h1 class="text-4xl font-bold text-center">Extravíos CUCEI</h1>
        <hr class="mb-2">
        <div class="flex flex-col md:flex-row">
          <div>
            <div class="p-2">
              Este proyecto fué inspirado en ayudar a los estudiantes sobre todo en la cuestión de recuperar sus pertenencias y fomentar la buenos valores con la comunidad univeristaria al devolver algún objeto.
              <br>
              <span class="text-xl font-bold">¿Quienes somos?</span>
              <br>
              Somos tres estudiantes de la carrera de informática, Jesús Marino, Manuel Martínez y Mario Duran. Decidimos unir nuestras aptitudes para hacer realidad este proyecto y de ser posible, dejar huella en nuestro centro universitario.
              Forjamos nuestra experiencia por medio de nuestro servicio social y trabajando como becarios, obteniendo una mentalidad más analítica y acorde a la necesidad que queremos solventar con ExtraviosCUCEI.
              Puedes seguirnos en Facebook en los nombres antes mencionados y/o enla página oficial "Extravíos CUCEI" para cualquier duda, sugerencia que se presente.
            </div>
          </div>
          <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FExtrav%25C3%25ADoscucei-113225374686985%2F%3Fref%3Dpages_you_manage&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </div>
      </div>
    </div>
  </ion-content>