<ion-header>
  <ion-toolbar color="dark">
    <div class="flex">
      <ion-img class="w-20" src="../../../assets/logo_transparente.png"></ion-img>
      <ion-title class="text-center">Registro con SIIAU</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="m-4 bg-white p-5 rounded-md text-black">
    <div class="mb-3">
      <ion-label>Nombres(s)</ion-label>
      <ion-input [(ngModel)]="nombre" pattern="^([A-Z]+[a-z]+.)+" class="bg-gray-200"></ion-input>
      <div *ngIf="banderaNombre" class="bg-red-600 w-full text-center p-2 text-white">*Campo requerido</div>
      <div *ngIf="banderaFormato" class="bg-red-600 w-full text-center p-2 text-white">*Formato no valido</div>
    </div>
    <div class="mt-4">
      <div class="mb-3">
        <ion-label>Apellidos:</ion-label>
        <div class="flex space-x-2">
          <ion-input [(ngModel)]="apellido1" pattern="^([A-Z]+[a-z]+.)+" class="bg-gray-200"></ion-input>
          <ion-input [(ngModel)]="apellido2" pattern="^([A-Z]+[a-z]+.)+" class="bg-gray-200"></ion-input>
        </div>
        <div *ngIf="banderaAp1 || banderaAp2" class="bg-red-600 w-full text-center p-2 text-white">*Campo requerido</div>
        <div *ngIf="banderaFormato2" class="bg-red-600 w-full text-center p-2 text-white">*Formato no valido</div>
      </div>
      <div class="mb-3">
        <ion-label>Correo electrónico</ion-label>
        <div class="flex space-x-2">
          <ion-input type="email" id="email" [(ngModel)]="correo" class="bg-gray-200"></ion-input>
          <ion-input type="email" id="email" [(ngModel)]="correo2" placeholder="Confirmar correo" class="bg-gray-200"></ion-input>
        </div>
        <div *ngIf="banderaCorreo || banderaCorreo2" class="bg-red-600 w-full text-center p-2 text-white">*Campo requerido</div>
        <div *ngIf="banderaConfirmar" class="bg-red-600 w-full text-center p-2 text-white">*Los correos ingresados no coinciden</div>
      </div>
      <div class="mb-2">
        <ion-label>Datos de contacto (opcional):</ion-label>
        <ion-textarea [(ngModel)]="datos" class="bg-gray-200"></ion-textarea>
      </div>
      <div class="mb-5 flex flex-col">
        <ion-label>Foto de perfil (opcional):</ion-label>
        <div class="flex items-center">
          <input required type="file" (change)="getPerfil($event)">
          <ion-icon class="text-2xl mx-2" icon="camera"></ion-icon>
        </div>
      </div>
      <div class="flex justify-center">
        <ion-button (click)="registrarUsuario();" color="warning" class="w-full">Registrarse</ion-button>
      </div>
    </div>
  </div>
</ion-content>